<% layout('/layout/boilerplate') -%>

    <body>
        <% if (success && success.length) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <%= success %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <p>
                            <h1>About Me</h1>

                            I am a passionate and dedicated MERN Stack engineer with a strong foundation in web
                            development
                            and a keen interest in creating dynamic, responsive, and user-friendly applications. As a
                            recent
                            graduate with a degree in Computer Science, I have honed my skills in the MERN (MongoDB,
                            Express.js, React, Node.js) stack, enabling me to build full-stack applications from the
                            ground
                            up. My academic journey and various projects have equipped me with a comprehensive
                            understanding
                            of both front-end and back-end development.

                            <hr>
                            <br>
                            <br>

                            On the front-end, I have experience in building interactive and intuitive user interfaces
                            using
                            React. I am proficient in using modern JavaScript (ES6+) features and tools like Redux for
                            state
                            management, React Router for navigation, and various UI libraries to enhance the user
                            experience. My attention to detail and commitment to writing clean, maintainable code
                            ensures
                            that the applications I develop are both aesthetically pleasing and highly functional.

                            <hr>
                            <br>
                            <br>

                            On the back-end, I have worked extensively with Node.js and Express.js to create robust and
                            scalable server-side applications. My experience includes designing RESTful APIs,
                            integrating
                            third-party services, and implementing authentication and authorization using JWT and OAuth.
                            I
                            am also skilled in working with MongoDB and MYSQL leveraging its flexibility and scalability
                            to
                            manage
                            and manipulate data efficiently.

                            <hr>
                            <br>
                            <br>

                            In addition to my expertise in the MERN stack, I have intermediate-level proficiency in
                            Java. I
                            have utilized Java in various academic and personal projects, particularly in implementing
                            data
                            structures and algorithms (DSA). My understanding of DSA principles allows me to write
                            optimized
                            and efficient code, which is critical in solving complex problems and enhancing the
                            performance
                            of applications.

                            <hr>
                            <br>
                            <br>

                            Throughout my academic career, I have worked on several collaborative projects, which have
                            strengthened my ability to work effectively in team environments. I am a quick learner and
                            am
                            always eager to adopt new technologies and methodologies to improve my skill set. My
                            problem-solving mindset, combined with my technical abilities, enables me to tackle
                            challenges
                            head-on and deliver high-quality solutions.

                            <hr>
                            <br>
                            <br>

                            I am excited to embark on my professional journey as a MERN Stack engineer and look forward
                            to
                            contributing to innovative projects that make a positive impact. My goal is to continuously
                            grow
                            as a developer, leveraging my skills in MERN, Java, and DSA to create solutions that are not
                            only technically sound but also enhance user experiences.

                            <hr>
                            <br>
                            <br>

                            If you are looking for a motivated and skilled developer who is ready to bring fresh ideas
                            and a
                            strong technical background to your team, I would love to connect and discuss how I can
                            contribute to your projects.</p>
                        </div>
                        <div class="col-lg-4 img-box">
                            <a href="https://www.linkedin.com/in/anuj-gupta-315805265/"
                                title="Will Redirect to LinkedIn" target="_blank">
                                <img src="https://media.istockphoto.com/id/476085198/photo/businessman-silhouette-as-avatar-or-default-profile-picture.webp?b=1&s=170667a&w=0&k=20&c=cVOZ3OYMmZQt9_G4TXXiCM3a3oJQlJ-FLGdVO0rCPpY="
                                    alt="Avatar">
                            </a>
                        </div>
                    </div>
                </div>

    </body>