<% layout('/layout/boilerplate') -%>

    <body class="skills-body">
        <!-- <%- include('./includes/navbar.ejs') %> -->
        <div class="conatiner">
            <h1>My Skills</h1>
            <div class="container skills-container">
                <div class="skill-item">
                    <img src="https://as1.ftcdn.net/v2/jpg/03/21/24/30/1000_F_321243084_GstfWflk1eTLlzUdRZ5mjoP5IG1iCc8J.jpg"
                        alt="Skill 1">
                </div>
                <div class="skill-item">
                    <img src="https://clickysoft.com/wp-content/uploads/2023/11/Benefits-of-MERN-Stack-Developers.jpg"
                        alt="Skill 2">
                </div>
                <div class="skill-item">
                    <img src="https://miro.medium.com/v2/resize:fit:640/1*_HvIY0Xt0-7frVXYqIvpTA.png" alt="Skill 3">
                </div>
                <div class="skill-item">
                    <img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/difference_between_sql_and_mysql.jpg"
                        alt="Skill 4">
                </div>
                <div class="skill-item">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgCrMLZCoPVOnDVMBfxUeyyzwTklYqAZHO75Aw73HzVnWPQw4d50H3j8lqFOIsO6sPPAI&usqp=CAU"
                        alt="Skill 5">
                </div>
            </div>
        </div>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    </body>

    </html>